.contact-content{
    padding: 20px;
}
.contact-header-text{
    color: var(--yellow-theme-sub-text-color);
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.5px;
    position: relative;
    text-transform: uppercase;
    padding: 5px 10px;
    border-bottom: 2px solid var(--yellow-theme-main-color);
}
.contact-header-text::before, .contact-header-text::after{
    position: absolute;
    content: '';
    width: 2px;
    height: 5px;
    background-color: var(--yellow-theme-main-color);
    bottom: -1px;
}
.contact-header-text::before{
    left: 0;
}
.contact-header-text::after{
   right: 0;
}

.form{
    margin-top: 30px;
}
.form .controlsWrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-bottom: 30px;
}
.Name, .Email, .Description{
    position: relative;
}
.inputName, .inputEmail, .inputDescription{
    width: 100%;
    border: 2px solid var(--yellow-theme-main-color);
    padding: 16px 12px;
    transition: all 0.5s ease;
    position: relative;
    background-color: transparent;
    color: var(--yellow-theme-sub-text-color);
}
.nameLabel, .emailLabel, .descriptionLabel{
    font-weight: 600;
    position: absolute;
    top: 7px;
    left: 12px;
    transition: all 0.2s ease;
    font-size: 16px;
    color: var(--yellow-theme-sub-text-color);
}
.inputName:focus, .inputEmail:focus, .inputDescription:focus{
outline: none;
}
.inputName:focus  + .nameLabel,
.inputName:valid  + .nameLabel
{
 font-size: 18px;
top: -25px;
left: 0px;
}

.inputEmail:focus  + .emailLabel,
.inputEmail:valid  + .emailLabel
{
 font-size: 18px;
top: -25px;
left: 0px;
}

.inputDescription:focus  + .descriptionLabel,
.inputDescription:valid  + .descriptionLabel
{
 font-size: 18px;
top: -25px;
left: 0px;
}
.form button{
    cursor: pointer;
    padding:10px 70px;
    font-size: 2rem;
    background-color: transparent;
    color: var(--yellow-theme-main-color);
    border: 1.5px solid var(--yellow-theme-sub-text-color);
    border-radius: 4px;
    font-weight: 600;

}
.form button:hover{
  color: black;
  background: var(--yellow-theme-main-color);
}

@media only screen and (max-width:768px){
    .form{

        text-align: center;
        flex-direction: column;
    }
    .form .controlsWrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}